<!-- <app-string-display [stringValue]="stringValue" [user]="currentUser" [data]="data" [items]="items"></app-string-display>
<button (click)="changeValue()">Change Value</button>
<br>
<br>

<button (click)="changeUserEmail()">Change User Email from Parent</button>

<br>
<br>
<button (click)="updateData()">Update Data</button>

<br>
<br>
<button (click)="addItem()">Add Item</button>

 -->


<app-string-display [stringValue]="stringValue" [user]="currentUser" [data]="data" [items]="items"></app-string-display>
<button (click)="updateStringValue()">Change Value</button>

<br><br>

<br>

<button (click)="changeUserEmail()">Change User Email from Parent</button>


<br>
<br>
<button (click)="updateData()">Update Data</button>

<br>
<br>
<button (click)="addItem()">Add Item</button>
