<app-viewchild-child></app-viewchild-child>
<br>
<button type="button" (click)="clearChildInput()">Clear Child Input</button>
<button type="button" (click)="focusChildInput()">Focus Child Input</button>
<button type="button" (click)="setChildInput()">Set Child Input</button>


<div>

    <h2>Example of accessing directive properties and methods</h2>
    <p #highlightedText appHighlight="lightblue">This is a highlighted text.</p>
    <button (click)="changeColor()">Change Color</button>

</div>

